@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

$colors: (
  primary: hsl(223, 87%, 63%),
  input-border-color: hsl(223, 100%, 88%),
  err-msg: hsl(354, 100%, 66%),
  neutral: hsl(0, 0%, 59%),
  soon-msg: hsl(209, 33%, 12%)
);

@function color($color-name) {
  @return map-get($colors, $color-name)
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

.comingSoonWrapper {
  text-align: center;
  width: 85%;
  margin: 5em auto;

  h2 {
    // text-align: left;
    margin-top: 1.6em;
    padding: 0 1em;
    color: color(neutral);
    font-weight: 300;

    span.important {
      color: color(soon-msg);
      font-weight: 700;
    }
  }
  
  p {
    color: color(soon-msg);
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: 600;
  }

  form.get-notified {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3em;

    input[type="email"], button {
      // width: 80%;
      padding: .8em 0;
      border-radius: 20px;
    }

    input[type="email"]:focus, button:focus {
      outline: 0;
    }

    input[type="email"] {
      // text-align: center;
      // border-radius: 20px;
      border: 1px solid color(input-border-color);
      padding-left: 1em;
    }

    input[type="email"]:focus:invalid {
      border: 1px solid color(err-msg);
    }

    button {
      // margin-top: .5em;
      background-color: color(primary);
      border: none;
      color: white;
      font-weight: 600;
      box-shadow: 0px 8px 17px color(input-border-color);
    }
  }
}

.illustration {
  img {
    width: 100%;
  }
}

.footer-container {
  text-align: center;
  padding: 1em;

  .social-icons {
    li {
      display: inline-block;
      padding: .7em;
      border: 1px solid color(neutral);
      border-radius: 50%;
      margin-left: .5em;
    }

    ion-icon {
      color: color(primary);
      font-size: 32px;
    }
  }

  .copy-right {
    margin-top: 1em;
    color: color(neutral);
    font-weight: 600;
  }
}

@media only screen and (min-width: 376px) {
  input[type="email"] {
    width: 90%;
  }
  
  button {
    margin-top: 1em;
    width: 90%;
  }
}

@media only screen and (max-width: 375px) {
  input[type="email"] {
    width: 90%;
  }
  
  button {
    margin-top: 1em;
    width: 90%;
  }
}
@media only screen and (min-width: 500px) {

    form.get-notified {
      margin-top: 1.5em;

      input[type="email"] {
        width: 45%;
      }
  
      button { 
        margin-left: 1em;
        width: 25%;
        margin-top: 0;
      }
    }

}

@media only screen and (min-width: 960px) {
  form.get-notified {

    button {
      margin-left: 2em;
    }
  }
}