@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


$colors: (bg-body: hsl(257, 40%, 49%),
  highlight-onHover: hsl(300, 69%, 71%));

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// media queries 

@mixin for-phone {
  @media (max-width: 375px) { @content; }
}
@mixin for-phone-up {
  @media (min-width: 376px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

* {
  
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-color: color(bg-body);
  background-image: url(/images/bg-desktop.svg);
  background-repeat: no-repeat;
  
  @include for-phone() {
    background-image: url(/images/bg-mobile.svg);
  }
}

// .wrapper { display: none; }

nav {
  padding: 1em;

  img.huddle-logo {
    width: 41%;
  }
}

.huddle-content-wrapper {
  width: 85%;
  margin: 4em auto 2.5em auto;
  text-align: center;

  .huddle-illustrator-img  {

    img {
      width: 100%;
    }

    @include for-phone() {
      margin-bottom: 3em;
    }
  }

  .huddle-desc  {
    padding: 1em;

    h2{
      margin-bottom: 1em;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      // font-size: 1.9rem;
    }

    p {
      line-height: 1.5;
      // font-size: 1.25rem;
    }

    button.register {
      margin-top: 2em;
      font-size: 1.3rem;
      padding: .5em 3em;
      border-radius: 70px;
      border: none;
      box-shadow: 0 4px 13px black;
      color: color(bg-body);
    }

    button.register:focus {
      background-color: color(highlight-onHover);
      color: white;
      outline: none;
    }
  }

}

footer {
  padding-bottom: 2em;
  
  .huddle-social-icons {

    ul {
      list-style-type: none;

      li{
        display: inline-block;
        border: 1px solid white;
        padding: .5em;
        border-radius:  50%;
      }

      li:hover {
        color: color(highlight-onHover);
        border-color: color(highlight-onHover);
      }
    }

    @include for-phone(){
      text-align: center;
    }
  }
}

li.two, li.three {
  margin-left: .5em;
}